In [5]:
import pandas
zvirata = pandas.read_csv("adopce-zvirat.csv", sep=";")
zvirata


# 513 řádků, 6 sloupců (zvirata.shape) 
# Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object') (zvirata.columns)
# č. 34 = ibis bílý, White ibis (zvirata.iloc[34])

# BONUS:
# Nejdražší zvířata k adopci: tygr sumaterský, tygr ussurijský, tygr malajský, hroch obojživelný, žirafa severní, slon indický (všichni 50 000) 
#      zvirata.sort_values("cena").tail(10)

# alfabeticky poslední v ČJ: žluva hajní (zvirata.sort_values("nazev_cz").tail())
# alfabeticky poslední v AJ: Yellow-necked francolin (zvirata.sort_values("nazev_en").tail())

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1